@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: monospace;
}

@keyframes bounce-slow {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 1.5s infinite;
}

.animate-bounce-slow {
  animation: bounce-slow 1.5s infinite;
}
